@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

body {
  background-image: url(../Images/birthdayLightBg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

/* BIRTHDAY PARADOX
/************************************************************************/

.header {
  display: flex;
  height: 200px;
  padding: 10px 30x;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-size: 2rem;
}

main {
  width: 100%;
  padding: 43px 0px;
  gap: 33px;
  flex-shrink: 0;
  background-color: transparent;
}
.mainTextBoxL {
  display: flex;
  width: 100%;
  height: 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: transparent;
}
.mainTextBoxR {
  display: flex;
  width: 100%;
  height: 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: transparent;
}

.TextBoxL {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

#myChart {
  height : 1px;
}
.TextBoxR {
  display: flex;
  width: 60%;
  flex-direction: column;
  padding: 0.5px 39px 37.5px 0px;
  align-items: center;
}

/* Input
  /************************************************************************/

.inputContainer {
  position: relative;
  display: flex;
  width: 1280px;
  padding: 20px 121px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
}

.inputBox {
  border: #3498db 3px solid;
  display: flex;
  width: 40rem;
  height: 265px;
  padding: 40px 50px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: rgba(217, 217, 217);
}

.inputField {
  display: flex;
  gap: 2rem;
}

.inputButtonField button {
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #507dbc;
}

/* Results
  /************************************************************************/

.resultContainer {
  background-color: transparent;
}

.resultTextBox {
  border: #000 3px solid;
  display: flex;
  height: 100px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: #d9d9d9;
}
.graphBox {
  width: 90%;
  margin: auto;
}

#birthgraph {
  border: #000 1px solid;
  width: 100%;
  height: 400px;
  background-color: white;
}

.sumTextBox {
  border: #000 3px solid;
  display: flex;
  width: 100%;
  padding: 64px 84px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  background-color: transparent;
  margin: 1em;
}

label {
  margin-right: 10px;
  background-color: transparent;
  font-weight: bold;
}

input {
  display: block;
  margin: 5px auto;
  padding: 5px;
  background-color: white;
}

button {
  display: block;
  margin: 5px auto 15px;
  padding: 10px;
  background-color: #507dbc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p {
  font-weight: bold;
  text-align: center;
  background-color: transparent;
}

.headerButtonBox {
  display: flex;
  justify-content: center;
  width: 5rem;
  background-color: transparent;
}

.darkModeButton {
  background-image: url("../Images/dark-theme.svg");
  background-size: contain;
  background-position: center;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
}

.homeButton {
  background-image: url("../Images/back-lightmode.svg");
  background-size: contain;
  background-position: center;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: transparent;
}

/*Footer
/*****************************************************/

footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: black;
  color: #fff;
}

footer h1 {
  color: #fff;
  font-size: 24px;
  align-self: flex-start;
}

/* Dark Mode Styles */

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p,
body.dark-mode label {
  color: #e0e0e0;
  background-color: transparent;
}

body.dark-mode,
body.dark-mode,
body.dark-mode .TextBoxR,
body.dark-mode .sumTextBox {
  background-color: #2c2c2c;
}

body.dark-mode .inputBox,
body.dark-mode .inputHeaderBox,
body.dark-mode .inputButtonField,
body.dark-mode .inputValueBox,
body.dark-mode .resultHeaderBox,
body.dark-mode #birthgraph {
  background: #2c2c2c;
}

body.dark-mode .inputButtonField button {
  background: #405c7d;
}

body.dark-mode .darkModeButton {
  background-image: url("../Images/light-theme.svg");
  background-color: transparent;
}

body.dark-mode .homeButton {
  background-image: url("../Images/back-darkmode.svg");
  background-color: transparent;
}

body.dark-mode {
  background-image: url("../Images/birthdayDarkBg.jpg");
}

@media screen and (max-width: 426px) {
  body {
    min-width: unset;
    display: flex;
    flex-direction: column;
  }

  /* Main
  /************************************************************************/
  .header h1 {
    text-align: center;
  }

  .mainTextBoxL {
    align-items: center;
    height: fit-content;
  }
  .mainTextBoxR {
    align-items: center;
    height: fit-content;
  }

  .TextBoxL {
    width: 80%;
    margin-left: 40px;
  }
  .TextBoxR {
    width: 80%;
    margin-right: 40px;
  }

  .homeButton {
    position: absolute;
    top: 0;
    left: 20%;
    transform: translateX(-50%);
    background-color: transparent;
  }

  .darkModeButton {
    position: absolute;
    top: 0;
    right: 10%;
    margin-top: 10px;
    transform: translateX(-50%);
    background-color: transparent;
  }
}
