@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
}

body {
  background-image: url(./Images/editCollatzBg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 1280px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  background-color: transparent;
  color: #383838;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
  font-family: "Open Sans", sans-serif;
  color: #383838;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

/* COLLATZ CONJECTURE
/************************************************************************/

.header {
  box-shadow: #000 1px 1px 2px;
  display: flex;
  height: 6rem;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.headerButtonBox{
    display: flex;
    justify-content: center;
    width: 5rem;
    background-color: transparent;
}

.darkModeButton {
    background-image: url('./Images/dark-theme.svg');
    background-size: contain;
    background-position: center;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.homeButton {
    background-image: url('./Images/back-lightmode.svg');
    background-size: contain;
    background-position: center;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


main {
  width: 100%;
  gap: 33px;
  padding-top: 2rem;
  flex-shrink: 0;
  background-color: transparent;
}
.mainTextBoxL {
  display: flex;
  width: 100%;
  height: 17rem;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: transparent;
}
.mainTextBoxR {
  display: flex;
  width: 100%;
  height: 17rem;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 10px;
  flex-shrink: 0;
  background-color: transparent;
}

.TextBoxL {
  box-shadow: #000 1px 1px 2px;
  display: flex;
  width: 55%;
  flex-direction: column;
  padding: 1.7rem;
  align-items: center;
  margin-left: 10rem;
  border-radius: 0.3rem;
}
.TextBoxR {
  display: flex;
  width: 55%;
  flex-direction: column;
  padding: 1.7rem;
  margin-right: 10rem;
  border-radius: 0.3rem;
  box-shadow: #000 1px 1px 2px;
}

/* Results
  /************************************************************************/

.inputContainer {
  margin: 50px 0 10px 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  min-width: 1200px;
  gap: 1rem;
}

.inputBox {
  min-width: 200px;
  display: flex;
  padding: 10px 10px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 5px;
  background: rgba(217, 217, 217);
  box-shadow: #000 1px 1px 2px;
}

.inputHeaderBox {
  width: 100%;
  background: rgba(217, 217, 217);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.inputValueBox {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
  background: rgba(217, 217, 217);
}

.inputField {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: transparent;
}
.inputField input {
  width: 90%;
  border-radius: 5px;
  padding: 0.2rem;
}

.inputButtonField {
  background: rgba(217, 217, 217);
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.inputButtonField button {
  padding: 10px 30px;
  gap: 10px;
  border-radius: 5px;
  background: #507dbc;
}

.resultBox {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
  align-items: center;
  gap: 30px;
  width: 80%;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: transparent;
}

.resultHeaderBox {
  background: rgba(217, 217, 217);
  padding: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: #000 1px 1px 2px;
}

.canvasBox {
  width: 100%;
  background-color: transparent;
}

#collatzGraph {
  border: #000 1px solid;
  height: 25rem;
}

.sumTextBox {
  border: #000 1px solid;
  display: flex;
  width: 100%;
  padding: 44px 84px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*Footer
/*****************************************************/

footer {
  height: 2rem;
  background-color: #000;
}

/*DARKMODE
/****************************************************/

/* Dark Mode Styles */

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6, body.dark-mode p {
    color: #E0E0E0; /* Light text color for headings */
    background-color: transparent;
}

body.dark-mode .header, body.dark-mode .TextBoxL, body.dark-mode .TextBoxR, body.dark-mode .sumTextBox{
    background-color: #2C2C2C; /* Darker background for containers and divs */
}

body.dark-mode .inputBox, body.dark-mode .inputHeaderBox, body.dark-mode .inputButtonField, body.dark-mode .inputValueBox , body.dark-mode .resultHeaderBox{
    background: #2C2C2C; /* Slightly different shade for other elements, adjust as needed */
}

body.dark-mode .inputButtonField button {
    background: #405C7D; /* Muted color for buttons */
}

body.dark-mode footer {
    background-color: #333333; /* Darker footer */
}

body.dark-mode .darkModeButton {
    background-image: url('./Images/light-theme.svg');
    background-color: #2C2C2C;
}

body.dark-mode .homeButton {
    background-image: url('./Images/back-darkmode.svg');
    background-color: #2C2C2C;
}

body.dark-mode {
    background-image: url('./Images/CollatzBgDark.png');
}